 @import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&family=Sriracha&display=swap');
 /* font-family: 'Passion One', cursive;
 font-family: 'Sriracha', cursive; */
 *{
    margin: 0;
    padding: 0;
 }
 header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 70px;
 }
 header > h1{
    font-family: 'Passion One', cursive;
    font-weight: bold;
    font-size: 7.5em;
 }
 header > h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
 }
 h2 > a{
    text-decoration: none;
    color: white;
 }
 h2>a:hover{
    text-decoration: underline;
    color: white;
 }
 article{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 500px;
    /* padding: 30px; */
 }
section > p{
    text-align: left;
    font-family: 'Sriracha', cursive;
    font-size: 3em;
    line-height: 2em;
}
#p2{
    background: black url('imagens/background001.jpg') top center no-repeat fixed;
    background-size: cover;
    height: 900px;
    width: 1340px;
}
#p5{
    background: black url('imagens/background002.jpg') top center no-repeat fixed;
    background-size: cover;
    height: 900px;
    width: 100%;
}
footer{
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 10px;
}

footer p >a{
    text-decoration: none;
    color: white;
}
footer p > a:hover{
    text-decoration: underline;
    color: white;
}